body {
    box-sizing: border-box;
    margin: 0; 
}

h1 {
    font-family: 'Nevis', sans-serif;
    font-style: italic;
    font-size: 4.5em;
    margin: 0;
    padding: 20px;
    text-align: center;
    background: linear-gradient(0deg, rgba(247,183,48,100) 0%, rgba(74,189,172,100) 100%);
}
.h2-left {
    text-align: left;
    font-size: 2.5em;
    margin: 0;
    padding: 10px;
    font-style: italic;
}

.h2-center
{
    text-align: center;
    font-size: 2.5em;
    margin: 0;
    padding: 10px
}
.h3-left{
    text-align: left;
    font-size: 2em;
    margin: 0;
    padding: 10px
}

.h3-center{
    text-align: center;
    font-size: 2em;
    margin: 0;
    padding: 10px
}

.about-me img {
    border-radius: 100px;
    margin: auto;
    display: block;
    width: 50%;
    height: auto;
    
}


.img-container {
    display: flex;
    justify-content: left;
    align-items: left;
    padding: 10px
}

.img-container img {
    width: 100%;
    height: auto;
}

i {
    font-size: 1.5em;
    margin: 0;
    padding: 10px;
}

footer h3{
    text-align: center;
    font-size: 2.25em;
    margin: 0;
    padding: 10px
}


header {
    background-color: #4ABDAC;
    color: #fcfcfc;
    padding: 20px;
   
}
nav {
    justify-content: space-evenly;
    display: flex;
    font-size: 2.5em; 
}
nav a{
    text-decoration: none;
    border-radius: 100px;
    padding: 10px;
    background: #DFDCE3;    
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
}
nav a:hover {
    background-color: #F7B733;
    color: #000000;
}

nav a img
{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin: 0 10px;
}
.about-info {
    background-color: #F7B733;
}
.about-info p {
    font-size: 1.25em;
}

.about-me{
    margin : 0 0;
}
.about-me section {
    width : auto;
    background-color: #DFDCE3;
    color: #000000;
    border-radius: 100px;
    text-align: left;
    font-size: 1.5em;
    padding: 40px;
    margin: 20px;
}


.work-grid {
    background-color: #DFDCE3;
}
.work-grid > .work-item, .work-grid > .work-title {
    color: #000000;
    margin : 5px 25px;
    padding: 10px;
    text-align: left;
}
.work-grid p {
    font-size: 1.5em;
    margin: 10px;
}


.education-grid{
    background-color: #DFDCE3;
}
.education-grid > .education-item, .education-grid > .education-title {
    color: #000000;
    margin : 0px 25px;
    padding: 10px;
    text-align: left;
}
.education-grid p {
    font-size: 1.5em;
    padding: 10px;
    margin: 0px;
}


.project-grid {
    background-color: #F7B733;
}
.project-grid > .project-item, .project-grid > section {
    border: 10px solid #F7B733;
    background-color: #DFDCE3;
    color: #000000;
    padding: 10px;
    text-align: center;
    font-size: 1.3em;
}
header p {
    font-size: 1.5em;
}

.project-item p {
    text-align: left;
    font-size: 1.5em;
    margin: 20px;
}

.button {
    border-radius: 12px;
    background-color: #FC4A1A;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
  }
.button:hover {
    background-color: #fc4b1ab6;
  }

footer {
    font-size: 1.5em;
}
footer h3{
    background: linear-gradient(0deg, rgba(252, 74, 26, .9) 0%, rgba(247,183,48,100) 100%)
}

ul {
    display : flex;
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    justify-content: space-evenly;
    background-color: #fc4a1ae6;
}

li a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1.75em;
}
@media screen and (min-width: 1500px) {
  
    .h2-center{
        font-size: 1.65em;
    }
    nav {
        justify-content: space-evenly;
        display: flex;
        font-size: 2em; 
    }
    .education-grid{
        background-color: #DFDCE3;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
        justify-content: space-evenly;
        align-items: center;
    }
    .work-grid {
        background-color: #DFDCE3;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
        justify-content: space-evenly;
        align-items: center;
    }

    .about-me {
        display : flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .about-me section {
        width: 60%;
        margin: 0 5%;
        background-color: #DFDCE3;
        color: #000000;
        border-radius: 100px;
        text-align: left;
        font-size: 1.75em;
        padding: 40px;
        margin: auto;
    }

    .about-me img {
        width: 25%;
        height: 25%;
        border-radius: 100px;
        display:  block;
        margin: auto;
    }
    .img-container img{
        width: 65%;
        height: auto;
        object-fit: fill;
        margin-right: 25%;
        margin-left: 10%;
    }
    .project-grid
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 0px;
    }

    .project-item{
        width: 70%;
        margin-left : 19%;
        margin-right: 10%;

    }

    .project-item p {
        text-align: left;
        font-size: 1.3em;
        margin: 5%;
    }

    img {
        width: 65%;
        height: auto;
        object-fit: fill;
        margin-right: 25%;
        margin-left: 10%;
    }
    .button {
        border-radius: 12px;
        background-color: #FC4A1A;
        border: none;
        color: white;
        padding: 12px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
      }

    nav a, li a {
        text-decoration: none;
        font-size: 1.5em;
    }
}