:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

app-navigation-header {
    flex: 0 0 auto;
}

app-client-body {
    flex: 1;
    display: flex;
    flex-direction: column;
}