<app-navigation-header></app-navigation-header>
<div class="card-container">
    <div class="column">
        <mat-card class="card-top">
            <h3>Client</h3>
            <!-- <app-client-form></app-client-form> -->
        </mat-card>
        <mat-card class="card-bottom">
            <h3>Comments</h3>
            <app-client-comments></app-client-comments>
        </mat-card>
    </div>
    <div class="column">
        <mat-card class="card-top">
            <h3>File Explorer</h3>
            <app-file-explorer></app-file-explorer>
        </mat-card>
        <mat-card class="card-bottom">
            <h3>Checklist</h3>
            <app-client-checklist></app-client-checklist>
        </mat-card>
    </div>
</div>