<div class="form-header">
    <h2>Add Client</h2>
    <button mat-icon-button class="close-btn" (click)="onClose()" aria-label="Close">
        <mat-icon>close</mat-icon>
    </button>
</div>
<form class="form-grid">
    <ng-container *ngFor="let field of fields">
        <mat-form-field appearance="fill" subscriptSizing="dynamic">
            <mat-label>{{ field.label }}</mat-label>
            <input *ngIf="field.type === 'text' || field.type === 'email'" matInput [type]="field.type">
            <mat-select *ngIf="field.type === 'select'" [placeholder]="field.label">
                <ng-container *ngFor="let option of field.options">
                    <mat-option [value]="option.value !== undefined ? option.value : option">
                        {{ option.label !== undefined ? option.label : option }}
                    </mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
    </ng-container>
</form>
<button mat-flat-button color="primary" class="create-btn" type="submit">
    Create
</button>