.card-container {
    display: flex;
    height: 100%;
    /* Ensure the container takes up the full height */
    gap: 16px;
    /* Space between columns */
    margin: 15px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 16px;
    /* Space between stacked cards */
    flex: 1;
    /* Take up 50% of the width */
}

.column .card-top {
    flex: 2;
    /* Top card takes 66% of the height */
}

.column .card-bottom {
    flex: 1;
    /* Bottom card takes 34% of the height */
}

.column .card {
    margin: 0 2%;
}



h2 {
    text-align: center;
    margin: 4px;
}

.comment-box {
    width: 95%;
    height: 100%;
    margin: 8px auto 16px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    font-size: 14px;
    box-sizing: border-box;
    padding: 8px;
}

.form-grid {
    margin: 8px 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;

}

.folder-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin: 0 16px;
}

mat-card {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

mat-form-field {
    font-size: 16px;
    height: 48px;
}



mat-list-item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 12px;
    display: inline-block;

}


.done {
    background-color: rgba(124, 252, 0, 0.5);
}

.in-progress {
    background-color: rgba(255, 255, 0, 0.5);
}

.needs-review {
    background-color: rgba(240, 128, 128, 0.5);
}

mat-list-item span {
    position: relative;
    top: -4px;
    left: 16px;
    font-size: 16px;
}

mat-icon[matListIcon] {
    color: #ffcc00;
    scale: 1.5;
}