<div class="card-container">
    <div class="left-column">
        <mat-card class="card-top">
            <h3>Client</h3>
            <form class="form-grid">
                <mat-form-field appearance="fill" subscriptSizing="dynamic">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Enter value">
                </mat-form-field>
                <mat-form-field appearance="fill" subscriptSizing="dynamic">
                    <mat-label>Phone Number</mat-label>
                    <input matInput placeholder="Enter value">
                </mat-form-field>
                <mat-form-field appearance="fill" subscriptSizing="dynamic">
                    <mat-label>Address</mat-label>
                    <input matInput placeholder="Enter value">
                </mat-form-field>
                <mat-form-field appearance="fill" subscriptSizing="dynamic">
                    <mat-label>State</mat-label>
                    <input matInput placeholder="Enter value">
                </mat-form-field>
                <mat-form-field appearance="fill" subscriptSizing="dynamic">
                    <mat-label>Zip</mat-label>
                    <input matInput placeholder="Enter value">
                </mat-form-field>
                <mat-form-field appearance="fill" subscriptSizing="dynamic">
                    <mat-label>Country</mat-label>
                    <input matInput placeholder="Enter value">
                </mat-form-field>
                <mat-form-field appearance="fill" subscriptSizing="dynamic">
                    <mat-label>Field 7</mat-label>
                    <input matInput placeholder="Enter value">
                </mat-form-field>
                <mat-form-field appearance="fill" subscriptSizing="dynamic">
                    <mat-label>Field 8</mat-label>
                    <input matInput placeholder="Enter value">
                </mat-form-field>
                <mat-form-field appearance="fill" subscriptSizing="dynamic">
                    <mat-label>Field 9</mat-label>
                    <input matInput placeholder="Enter value">
                </mat-form-field>
                <mat-form-field appearance="fill" subscriptSizing="dynamic">
                    <mat-label>Field 10</mat-label>
                    <input matInput placeholder="Enter value">
                </mat-form-field>
                <mat-form-field appearance="fill" subscriptSizing="dynamic">
                    <mat-label>Field 11</mat-label>
                    <input matInput placeholder="Enter value">
                </mat-form-field>
                <mat-form-field appearance="fill" subscriptSizing="dynamic">
                    <mat-label>Field 12</mat-label>
                    <input matInput placeholder="Enter value">
                </mat-form-field>
            </form>
        </mat-card>
        <mat-card class="card-bottom">
            <h3>Comments</h3>
            <textarea class="comment-box" placeholder="Enter your comments here"></textarea>
        </mat-card>
    </div>
    <div class="right-column">
        <mat-card class="card">
            <h3>File Explorer</h3>
            <mat-list>
                <mat-list-item class="done">
                    <mat-icon matListIcon>folder</mat-icon>
                    <span>Lease</span>
                </mat-list-item>
                <mat-list-item class="in-progress">
                    <mat-icon matListIcon>folder</mat-icon>
                    <span>Inspection</span>
                </mat-list-item>
                <mat-list-item class="needs-review">
                    <mat-icon matListIcon>folder</mat-icon>
                    <span>He bad</span>
                </mat-list-item>
                <mat-list-item class="in-progress">
                    <mat-icon matListIcon>folder</mat-icon>
                    <span>He good</span>
                </mat-list-item>
            </mat-list>
        </mat-card>
    </div>
</div>