<div class="card-container">
    <div class="column">
        <mat-card class="card-top">
            <h3>Client</h3>
            <form class="form-grid">
                <ng-container *ngFor="let field of fields">
                    <mat-form-field appearance="fill" subscriptSizing="dynamic">
                        <mat-label>{{ field.label }}</mat-label>
                        <input *ngIf="field.type === 'text' || field.type === 'email'" matInput [type]="field.type">
                        <mat-select *ngIf="field.type === 'select'" [placeholder]="field.label">
                            <ng-container *ngFor="let option of field.options">
                                <mat-option [value]="option.value !== undefined ? option.value : option">
                                    {{ option.label !== undefined ? option.label : option }}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                </ng-container>
            </form>
        </mat-card>
        <mat-card class="card-bottom">
            <h3>Comments</h3>
            <mat-form-field appearance="fill">
                <mat-label>Add any relevant notes about this client</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
        </mat-card>
    </div>
    <div class="column">
        <mat-card class="card-top">
            <h3>File Explorer</h3>
            <mat-list class="folder-grid">
                <mat-list-item *ngFor="let folder of folders" class="folder" [ngClass]="folder.status">
                    <mat-icon matListIcon>folder</mat-icon>
                    <span>{{ folder.title }}</span>
                    <div class="folder-overlay">
                        <button mat-icon-button color="primary" aria-label="Upload">
                            <mat-icon>upload</mat-icon>
                        </button>
                        <button mat-icon-button color="accent" aria-label="View">
                            <mat-icon>visibility</mat-icon>
                        </button>
                    </div>
                </mat-list-item>
            </mat-list>
        </mat-card>
        <mat-card class="card-bottom">
            <h3>Checklist</h3>
            <div class="checklist-scroll">
                <mat-selection-list>
                    <mat-list-option *ngFor="let task of checklist; let i = index" [(selected)]="task.completed"
                        color="primary">
                        <span *ngIf="task.sequence !== undefined" class="task-sequence">{{ task.sequence }}.</span>
                        {{ task.label }}
                    </mat-list-option>
                </mat-selection-list>
            </div>
        </mat-card>
    </div>
</div>