<div class="meta-data-panel-horizontal">
    <div class="meta-field">
        <span class="meta-label">Created:</span>
        <span class="meta-value">{{ creationDate | date:'mediumDate' }}</span>
    </div>
    <span class="meta-separator">|</span>
    <div class="meta-field">
        <span class="meta-label">Modified:</span>
        <span class="meta-value">{{ modificationDate | date:'mediumDate' }}</span>
    </div>
    <span class="meta-separator">|</span>
    <div class="meta-field">
        <span class="meta-label">Status:</span>
        <span class="meta-value">{{ status }}</span>
    </div>
    <span class="meta-separator">|</span>
    <div class="meta-field">
        <span class="meta-label">Placeholder:</span>
        <span class="meta-value">Placeholder</span>
    </div>
</div>