<mat-card>
    <table class="meta-table">
        <thead>
            <tr>
                <th>Date Created</th>
                <th>Date Modified</th>
                <th>Status</th>
                <th>Placeholder</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ creationDate | date:'mediumDate' }}</td>
                <td>{{ modificationDate | date:'mediumDate' }}</td>
                <td>{{ status }}</td>
                <td>Placeholder</td>
            </tr>
        </tbody>
    </table>
</mat-card>